*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
li{
    list-style:none;
}
.navBar__ul{
    display: flex;
    list-style: none;
    border: 1px solid black;
    width: 500px;
    justify-content: space-around;
}
.header{
    display: flex;
    justify-content: center;
}
.carrito{
    display: flex;
    margin-left: 95.7%;
    position: absolute;
}
.portadaPage{
    border: 1px solid black;
}
.imgPortada{
    width: 100%;
    height: 615px;
}
.caler{
    background-color: yellow;
}
.tituloTienda{
    text-align: center;
}
.divCategorias{
    width: 35%;
    text-align: center;
    border-right: 1px solid black;
    border-top: 1px solid black ;
    margin-top: 15%;
}
.tamañoCard{
    width: 23%;
    text-align: center;
    margin: auto;
}
.divTienda{
    display: flex;
}
.productos{
    display: flex;
}
.terrariaGame{
    display: flex;
}
.buttonTerraria{
    background-color: aqua;
    border-radius: 12px;
    padding: 8px;
    margin-left: 20px;
}
.sectionPrice{
    text-align: center;
}